[submodule "lib/darray"]
	path = lib/darray
	url = https://github.com/DoeringChristian/darray.git
[submodule "lib/mathc"]
	path = lib/mathc
	url = https://github.com/felselva/mathc.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/cglm"]
	path = lib/cglm
	url = https://github.com/recp/cglm.git
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
